body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1e2d3b;
}
img {
  max-width: 100%;
}
main {
  height: 100%;
}

/* .track_card {
  height: 375px;
  width: 200px;
  padding: 1rem;
} */